
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form method="post" action="Categories/New">
    <label>Titlu categorie</label>
    <br />
    <input type="text" name="CategoryName" />
    <br />
    <button type="submit">Adauga categorie.</button>
</form>
