
@{
    ViewBag.Title = "Index";
}

<h2>Afisare articole</h2>
@foreach(var article in ViewBag.Articles)
{
    <h3>@article.Title</h3>
    <p>@article.Content</p>
    <p>@article.Category.CategoryName</p>
    <small>@article.Date</small>
    <br />
    <hr />
    <a href="Articles/Show/@article.Id">Afiseaza tot.</a>
    <a href="Categories/Index">Afiseaza categorie.</a>
    <a href="Articles/New">Adauga articol.</a>
    
}

